@import '../styles/_variables.scss';
@import '../styles/_keyframe-animations.scss';

@import "tailwindcss";

@plugin "@tailwindcss/typography";

@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #0F62FE;
  --color-primary-dark: #001D6C;
  --color-primary-light: #A6C8FF;
}

html { scroll-behavior: smooth; }